@charset "UTF-8";
/* чтобы все марджины и паддинги входили в состав размера нашего элемента, а не прибавлялись дополнительно к его размеру */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Medium.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Regular.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  min-width: 360px;
  background-color: #F5F5F5;
}

.footer {
  margin-right: auto;
  margin-left: auto;
  width: 1360px;
  max-height: 425px;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 40px 10px rgb(237, 237, 237);
  border-radius: 22px 22px 0px 0px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__items {
  display: flex;
  list-style: none;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}
.footer__tel {
  color: #2F80ED;
  font-size: 2.12rem;
  padding-bottom: 4px;
  font-weight: 600;
}
.footer__menu2 {
  padding-bottom: 20px;
}
.footer ul {
  display: flex;
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: rgb(90, 90, 90);
}

li {
  margin: 15px;
}