@charset "UTF-8";
/* чтобы все марджины и паддинги входили в состав размера нашего элемента, а не прибавлялись дополнительно к его размеру */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Medium.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-Regular.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/Inter-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  min-width: 360px;
  background-color: #F5F5F5;
}

.reviews__title {
  font-size: 3rem;
  margin-bottom: 2.7rem;
}

.contact .contact_block {
  color: rgb(85, 85, 85);
  background-color: white;
  box-shadow: 0px 20px 40px 10px rgb(237, 237, 237);
  font-size: 20px;
  font-weight: medium;
  max-width: 438px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    /* Flexbox для выравнивания по центру */
    display: flex;
    flex-direction: column; /* элементы располагаются по вертикали */
    align-items: right; /* выравнивание по горизонтали */
    justify-content: center; /* выравнивание по вертикали */
    
    /* Отступ сверху для карточки */
    margin-top: 20px;
}