/* чтобы все марджины и паддинги входили в состав размера нашего элемента, а не прибавлялись дополнительно к его размеру */
*
    box-sizing: border-box

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-Medium.woff2")
    font-weight: 400
    font-style: normal

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-Regular.woff2")
    font-weight: 500
    font-style: normal

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-SemiBold.woff2")
    font-weight: 600
    font-style: normal

// Colors  
$btn: #2F80ED
$white: #FFFFFF
$txt: #757575

// Base Styles
body
    font-family: Inter, sans-serif
    font-weight: 400
    margin: 0 auto
    min-width: 360px
    background-color: $white

// Main container
.container
    max-width: 1384px // 1360px плюс боковые марджины от bootstrap по 12px //
    color: $txt
.header
    padding-top: 15px
.link
    text-decoration: none
    font-size: 1.2rem
    
    
.main-section
    margin-top: 50px
.room-name
  font-size: 49.89px
  font-family: Inter
  color: #434343

.h2
  font-size: 20px
  font-family: Inter
  color: #4A4A4A

.main-content
  display: flex
  flex-direction: column
  width: 899px

.contact
  color: rgb(85, 85, 85)
  background-color: white
  box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
  font-size: 20px
  font-weight: medium
  width: 438px
  border-radius: 10px
  display: flex
  flex-direction: column
  align-items: center
  flex-direction: column
  padding: 16px


.registration
  color: rgb(85, 85, 85)
  background-color: white
  box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
  font-size: 20px
  font-weight: medium
  width: 438px
  border-radius: 10px
  display: flex
  flex-direction: column
  align-items: center
  flex-direction: column
  padding: 16px
  gap: 16px

.main-container
  width: 926px
  box-sizing: border-box
  justify-content: flex-start

.main-img
  width: 899px
  height: 515px
  display: flex
  align-self: flex-start

.slider
  width: 899px
  height: 167px

.description
  width: 376px
  box-sizing: border-box
  justify-content: flex-start

.comfort
  width: 404px
  height: 278px
  box-sizing: border-box
  justify-content: flex-start
  padding-left: 60px

.comfort-list
  list-style-type: disc
  padding-left: 0px
  columns: 2
  column-gap: 40px
  font-size: 16px
  margin: 0

.comfort-list li::marker
  color: #2F80ED
  width: calc(50% - 20px)

.room-information span::after
  content: " • "

.room-information span:last-child::after 
  content: ""


.room-information 
  padding-bottom: 20px

.main-information 
  color: rgb(85, 85, 85)
  background-color: white
  box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
  font-size: 20px
  font-weight: medium
  width: 899px
  height: 542px
  border-radius: 10px
  display: flex
  flex-direction: column
  align-items: flex-start
  padding: 16px


.request-button
  height: 91px
  width: 388px
  font-size: 25px
  background-color: #2F80ED
  color: white
  border: none
  border-radius: 5px
  cursor: pointer
  transition: 0.3s ease-in

.request-button:hover 
  transform: scale(0.95)

.owl-carousel.item 
  backface-visibility: hidden
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  -ms-backface-visibility: hidden
  -o-backface-visibility: hidden

.date-registration-button
  height: 91px
  width: 388px
  font-size: 25px
  background-color: #E0E6ED
  color: #929292
  border: none
  border-radius: 5px
  cursor: pointer
  transition: 0.3s ease-in


.date-registration-button:hover 
  transform: scale(0.95)

.people-amount-button 
  height: 91px
  width: 388px
  font-size: 25px
  background-color: #E0E6ED
  color: #929292
  border: none
  border-radius: 5px
  cursor: pointer
  transition: 0.3s ease-in

.people-amount-button:hover 
  transform: scale(0.95)

.price-button 
  height: 91px
  width: 388px
  font-size: 25px
  background-color: #2F80ED
  color: white
  border: none
  border-radius: 5px
  cursor: pointer
  transition: 0.3s ease-in

.price-button:hover 
  transform: scale(0.95)

.price-list 
  width:298 px
  margin: left
  font-family: Inter

.price-header 
  display: flex
  justify-content: space-between
  border-bottom: 1px solid #ccc
  padding: 10px 0
  font-size: 16px
  color: #8D9399

.price-item
  display: flex
  justify-content: space-between
  padding: 10px 0
  border-bottom: 1px solid #e0e0e0

.period 
  color: #8A8A8A
  font-size: 16px

.price 
  color: #6D6D6D
  font-size: 16px

/* Опционально: стиль для последней черты */

.price-item:last-child 
  border-bottom: none

  

p
    font-size: 1.25rem
    line-height: 1.28
    font-weight: 500

h3
    font-size: 1.7rem
    line-height: 1.28
    letter-spacing: 0.02

.roadmap
    max-width: 1384px
    height: auto
    position: relative
    margin-bottom: 5.3rem
    margin-top: 3.125rem
    overflow: hidden
    border-radius: 20px
    filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07))
    &__wrapper
        max-width: 1384px
        height: auto
    &__box
        position: absolute
        top: 40%
        left: 61%
        background-color: $white
        border-radius: 50px 0px 20px 0px
        padding-top: 2.75rem
        padding-left: 3.125rem
        padding-right: 1.15rem
        max-width: 33rem
        margin-right: 0.75rem
    &__title
        font-size: 2.6rem
        line-height: 1.1
        margin-bottom: 1rem
    &__text
        margin-bottom: 2.4rem
    &__main-button
        font-size: 1.6rem

iframe
    border-radius: 20px

.reviews
    &__title
        font-size: 3rem
        margin-bottom: 2.7rem
        line-height: 1.1
    &__wrapper
        margin-bottom: 2.7rem
    &__item
        background-color: $white
        border-radius: 0.9rem
        filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07))
        height: auto
        padding: 1.9rem 2rem 2.4rem 2rem
    &__item-score
        display: flex
        background-color: #E0E0E0
        border-radius: 30px
        width: 7.8rem
        padding: 9px 21px 8px 12px
        margin-bottom: 1.6rem
        justify-content: space-between
        align-items: center
    &__item-score_value
        font-size: 1.5rem
        line-height: 1.25
        letter-spacing: 0.22
    &__item-name_data
        letter-spacing: 0.02
    &__item-button
        color: $btn
        font-size: 1.3rem
        line-height: 1.28
        letter-spacing: 0.02
        border: none
        padding-left: 0px
        margin-bottom: 2.8rem
        background-color: transparent
        transition: 0.4s ease-in

        &:hover
            text-decoration: underline
    &__item-user
        display: flex
    &__item-photo
        border-radius: 50px
        margin-right: 1.3rem
    &__main-button
        font-size: 1.7rem

.reviews__main-button, .roadmap__main-button
    border: none
    border-radius: 10px
    background-color: $btn
    color: $white
    letter-spacing: 0.02
    padding: 26px 72px 26px 72px
    margin-bottom: 5.3rem
    transition: 0.3s ease-in

    &:hover
        transform: scale(0.95)

.communication
    margin-bottom: 4.5rem
    filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07))
    &__box
        position: relative
        height: auto
        overflow: hidden
    &__item
        position: absolute
        top: 58%
        left: 4rem
    &__title
        color: $white
        font-size: 3rem
        line-height: 1.1
        margin-bottom: 1.9rem
    &__buttons
        display: flex
        justify-content: space-between
        width: 63.7rem
        margin-bottom: 2.4rem
    &__button
        border-radius: 50px
        border: none
        background-color: rgba(238, 238, 238, 0.32)
        color: $white
        backdrop-filter: blur(14px)
        padding-left: 0px
        width: 20.4rem
        display: flex
        align-items: center
        font-size: 1.63rem
        line-height: 1.1
        transition: 0.3s ease-in

        &_tg
            width: 19.6rem

        &:hover
            transform: scale(0.95)

    &__button-logo
        margin-right: 1.8rem
        transition: 0.4s ease-in

        &:active
            transform: translate(15.15rem)

.phone
    background-color: $btn
    border-radius: 50px
    width: 82px
    height: 82px
    display: inline-block
    padding: 23px 22px 21px 23px

    
.footer
    margin-right: auto
    margin-left: auto
    max-width: 1360px
    max-height: 425px
    padding: 50px
    background-color: rgb(255, 255, 255)
    box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
    border-radius: 22px 22px 0px 0px
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &__items
        display: flex
        list-style: none
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 1.4rem
    &__tel
        color: #2F80ED
        font-size: 2.12rem
        padding-bottom: 4px
        font-weight: 600
    &__menu2
        padding-bottom: 20px

    ul
        display: flex
        list-style: none
        padding: 0px
a
    text-decoration: none
    color: rgba(90, 90, 90, 1)
li
    margin: 15px


// Медиазапросы: от большего к меньшему, базовый вариант 1440-1920px, далее в соответствии с сеткой bootstrap //

@media screen and (max-width: 1439px)   // xl- у меня без изменений, но есть доп размер - до 1260px //

@media screen and (max-width: 1260px)   // доп медиа-запрос //
    .roadmap
        &__main-button
            font-size: 1.4rem
    .reviews
        &__main-button
            font-size: 1.5rem

    .container
       transform: scale(0.9)
       transform-origin: top center
   

    
    


@media screen and (max-width: 1199px)   // l //
    .reviews
        &__title
            font-size: 2.5rem
    .roadmap
        &__box
            top: 35%
            padding-top: 1.5rem
            padding-left: 2rem
            padding-right: 1rem
        &__title
            font-size: 2rem
            margin-bottom: 1rem
        &__text
            margin-bottom: 1.5rem
    .reviews__main-button, .roadmap__main-button
        padding: 13px 36px 13px 36px
    .communication
        &__item
            top: 48%
            left: 2rem
        &__title
            font-size: 2.5rem
            margin-bottom: 1.5rem
        &__buttons
            width: 56rem
        &__button
            width: 17.4rem
            font-size: 1.4rem
        &__button-logo:active
            transform: none
    
    .container
       transform: scale(0.85)
       transform-origin: top center
       margin-bottom: 0
    .main-content
       transform: scale(0.85)
       transform-origin: top center
       margin-bottom: 0
       margin-left: 0
    .contact-block
       transform: scale(0.85)
       transform-origin: top center
    .main-information
       width: auto
       max-width: 100%
       margin-left: auto
       margin-bottom: 0
       margin-top: 0
       padding-top: 10px
       padding-bottom: 10px
       transform: none

@media screen and (max-width: 991px)   // m //
    p
        font-size: 1.1rem
    .reviews
        &__wrapper
            margin-bottom: 1.3rem
        &__main-button
            margin-bottom: 2rem
        &__title
            margin-bottom: 1.5rem
            font-size: 1.75rem
    .roadmap
        margin-bottom: 2rem
        &__box
            top: 15%
            padding-top: 1.25rem
            padding-left: 1.5rem
            border-radius: 30px 0px 20px 0px
        &__title
            font-size: 1.5rem
        &__text
            margin-bottom: 1.2rem
    .reviews__main-button, .roadmap__main-button
        padding: 10px 20px 10px 20px
        font-size: 1.2rem
    .communication
        &__item
            top: 42%
            left: 1.15rem
        &__title
            font-size: 1.75rem
            margin-bottom: 1rem
        &__buttons
            width: 44rem
        &__button
            width: 14rem
            font-size: 1.2rem
        &__button-logo
            margin-right: 0.7rem

    .container
       display: flex
       flex-direction: column
    .slider
       display: none
    .contact-block
       order: 2
       margin-top: 20px
    .main-container
       order: 1
       margin-left: 0
    .main-information
       margin-left: 0
       width: auto


@media screen and (max-width: 767px)   // sm //
    .roadmap
        position: static
        border-radius: 20px 20px 0px 0px
        &__box
            position: static
            border-radius: 0px 0px 20px 20px
            max-width: 1384px
            margin-right: 0
        &__main-button
            margin-bottom: 1.5rem
    .communication
        &__item
            top: 28%
            left: 2rem
        &__buttons
            width: 5rem
            margin-bottom: 1.5rem
        &__button
            color: transparent
            background: transparent
            backdrop-filter: none
            margin-right: -4rem

    .slider
       display: none
    .contact-block
       order: 2
       margin-top: 20px
    .main-container
       order: 1
       margin-left: 0
    .main-information
       margin-left: 0
       width: auto
       max-width: 100%
       margin-right: auto
       box-sizing: border-box
    .next-block
       margin-top: none

 
@media screen and (max-width: 575px)   // до 320px //
    .communication
        &__item
            top: 2%
            left: 1rem
        &__title
            font-size: 1.5rem
            margin-bottom: 0.3rem
        &__buttons
            margin-bottom: 1rem
        &__button
            margin-right: -6rem

