/* чтобы все марджины и паддинги входили в состав размера нашего элемента, а не прибавлялись дополнительно к его размеру */
*
    box-sizing: border-box

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-Medium.woff2")
    font-weight: 400
    font-style: normal

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-Regular.woff2")
    font-weight: 500
    font-style: normal

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-SemiBold.woff2")
    font-weight: 600
    font-style: normal

// Base Styles
body
    font-family: Arial, sans-serif
    /* Центрируем весь контент */
    margin: 0 auto
    min-width: 360px
    background-color: #F5F5F5
    font-weight: 400

// Colors    
$btn: #2F80ED
$white: #FFFFFF
$txt: #757575

// Main container
.container
    max-width: 1384px // 1360px плюс боковые марджины от bootstrap по 12px //
    color: $txt

.reviews__title
    font-size: 3rem
    margin-bottom: 2.7rem
    line-height: 1.1

.reviews__wrapper
    margin-bottom: 2.7rem

.reviews__item
    background-color: $white
    border-radius: 0.9rem
    box-shadow: 0px 5px 10px 0px rgba(224, 224, 224, 0.5)
    max-width: 437px
    height: auto
    padding: 1.9rem 2rem 2.4rem 2rem

p
    font-size: 1.25rem
    line-height: 1.28
    font-weight: 500

h3
    font-size: 1.7rem
    line-height: 1.28
    letter-spacing: 0.02

.reviews__item-score
    display: flex
    background-color: #E0E0E0
    border-radius: 30px
    width: 7.8rem
    padding: 9px 21px 8px 12px
    margin-bottom: 1.6rem
    justify-content: space-between
    align-items: center

.reviews__item-score_value
    font-size: 1.5rem
    line-height: 1.25
    letter-spacing: 0.22

.reviews__item-name_data
    letter-spacing: 0.02

.reviews__item-button
    color: $btn
    font-size: 1.3rem
    line-height: 1.28
    letter-spacing: 0.02
    border: none
    padding-left: 0px
    margin-bottom: 2.8rem
    background-color: transparent
    transition: 0.4s ease-in
    &:hover
        text-decoration: underline

.reviews__item-user
    display: flex

.rewievs__item-photo
    border-radius: 50px
    margin-right: 1.3rem

.reviews__main-button
    font-size: 1.7rem

.reviews__main-button, .roadmap__main-button
    border: none
    border-radius: 10px
    background-color: $btn
    color: $white
    letter-spacing: 0.02
    padding: 26px 72px 26px 72px
    margin-bottom: 5.3rem
    transition: 0.3s ease-in

    &:hover
        transform: scale(0.95)

.roadmap
    max-width: 1384px
    height: auto
    position: relative
    margin-bottom: 5.3rem
    overflow: hidden
    border-radius: 20px

    &__wrapper
        max-width: 1384px
        height: auto

    &__box
        position: absolute
        top: 40%
        left: 61%
        background-color: $white
        border-radius: 50px 0px 20px 0px
        padding-top: 2.75rem
        padding-left: 3.125rem
        padding-right: 1.15rem
        max-width: 33rem
        margin-right: 0.75rem

    &__title
        font-size: 2.6rem
        line-height: 1.1
        margin-bottom: 1rem

    &__text
        margin-bottom: 2.4rem

    &__main-button
        font-size: 1.6rem

iframe
    border-radius: 20px

.communication
    margin-bottom: 4.5rem

    &__box
        position: relative
        height: auto
        overflow: hidden

    &__item
        position: absolute
        top: 58%
        left: 4rem

    &__title
        color: $white
        font-size: 3rem
        line-height: 1.1
        margin-bottom: 1.9rem

    &__buttons
        display: flex
        justify-content: space-between
        width: 63.7rem
        margin-bottom: 2.4rem

    &__button
        border-radius: 50px
        border: none
        background-color: rgba(238, 238, 238, 0.32)
        color: $white
        backdrop-filter: blur(14px)
        padding-left: 0px
        width: 20.4rem
        display: flex
        align-items: center
        font-size: 1.63rem
        line-height: 1.1
        transition: 0.3s ease-in

        &_tg
            width: 19.6rem

        &:hover
            transform: scale(0.95)

    &__button-logo
        margin-right: 1.8rem
        transition: 0.4s ease-in

        &:active
            transform: translate(15.15rem)

.phone
    background-color: $btn
    border-radius: 50px
    width: 82px
    height: 82px
    display: inline-block
    padding: 23px 22px 21px 23px

.rooms
    color: rgba(67, 67, 67, 1)
    background-color: rgb(255, 255, 255)
    line-height: 110%
    padding-bottom: 30px
    & .rooms_title
        padding-bottom: 48px
        padding-top: 56px
    & .room_card
        color: rgba(85, 85, 85, 1)
        background-color: white
        box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
        font-size: 20px
        font-weight: medium
        max-width: 323px
        border-radius: 10px
        display: flex
        flex-direction: column
        align-items: flex-start
    & .room_img
        max-width: 323px
        max-height: 229px
        background-image: url("/assets/img/room.jpg")
        background-size: cover
    & .room_about
        padding-left: 21px
        padding-top: 22px
        max-width: 275px
    & .price
        display: flex
        align-items: baseline
        padding-bottom: 39px
        padding-top: 37px
    & .room_price
        color: rgba(45, 156, 219, 1)
        font-weight: 600
        font-size: 37px
        padding-right: 7px
    & .room_time
        color: rgba(152, 152, 152, 1)
        font-weight: 500
        font-size: 18px

.rest
    color: #434343
    background-color: rgb(255, 255, 255)
    line-height: 110%
    padding-bottom: 3.125rem
    & .rest__title__text
        font-weight: 500
        font-size: 3.125rem
        margin: 0
        padding-bottom: 3rem
        padding-top: 3.5rem
    & .rest__img-box
        max-width: 1360px
        max-height: 726px
        display: grid
        grid-template-columns: max(434px) max(441px) max(441px)
        gap: 1.25rem
    & .filter-box-img1
        position: relative
        grid-row: 1 / 3
        grid-column: 1 / 2
    & .filter-box-img2
        position: relative
    & .filter-box-img3
        position: relative
    & .filter-box-img4
        position: relative
        grid-row: 2 / 3
        grid-column: 2 / 4
    & .rest__img-box__img-filter
        color: $white
        opacity: 0
        line-height: 110%
        text-align: center
        font-size: 2.75rem
        font-weight: 500
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border-radius: 12px
        &:hover
            opacity: 1
            background-color: rgba(0, 0, 0, 0.7)
    & .img-filter-text
        max-width: 340px

.vibe
    & video
        border-radius: 17px
        float: right
        width: 100%
    &__video
        position: relative
        width: 743px
        height: 470px
        display: flex
        justify-content: end
    &__play-button
        position: absolute
        top: 157px
        left: 293px
        background-color: rgba(102, 90, 93, 0.3)
        backdrop-filter: blur(5px)
        border: none
        border-radius: 78px
        width: 156px
        height: 156px
    & .play-button
        width: 36px
        height: 36px

    &__title-box-hover
        opacity: 0
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        padding-top: 250px
        max-width: 669px
    &__title-box-hover__text
        font-size: 1.25rem
        font-weight: 500
        color: #757575
        line-height: 125%
    &__title__text1
        font-size: 3.9rem
        font-weight: 500
        color: #434343
        line-height: 110%
    &__title__text2
        font-size: 5.69rem
        font-weight: 500
        color: #2F80ED
        line-height: 110%
    &__title
        display: flex
        justify-content: start
        align-items: flex-start
        padding-left: 21px
        position: relative
        min-height: 470px
        padding-top: 142px

    & .vibe-wrapper
        padding-bottom: 92px
        margin-right: 0
        &:hover
            padding-bottom: 36px
            .vibe__title
                align-items: flex-start
                padding-top: 69px
                padding-left: 0
                .vibe__title__text1, .vibe__title__text2
                    font-size: 3.125rem
                    transition: 0.2s ease-in
                .vibe__title-box-hover
                    opacity: 1
                    transition: 0.3s ease-in
                    padding-top: 209px
            video
                max-width: 669px
                margin-top: 34px
            .vibe__play-button
                margin-top: 34px
                margin-left: 37px

// Медиазапросы: от большего к меньшему, базовый вариант 1440-1920px, далее в соответствии с сеткой bootstrap //

@media screen and (max-width: 1439px) //xl- у меня без изменений, но есть доп размер - до 1260px//

@media screen and (max-width: 1260px) //доп медиа-запрос//
    .roadmap
        &__main-button
            font-size: 1.4rem
    .reviews
        &__main-button
            font-size: 1.5rem

@media screen and (max-width: 1199px) //l//
    .reviews
        &__title
            font-size: 2.5rem
    .roadmap
        &__box
            top: 35%
            padding-top: 1.5rem
            padding-left: 2rem
            padding-right: 1rem
        &__title
            font-size: 2rem
            margin-bottom: 1rem
        &__text
            margin-bottom: 1.5rem
    .reviews__main-button, .roadmap__main-button
        padding: 13px 36px 13px 36px
    .communication
        &__item
            top: 48%
            left: 2rem
        &__title
            font-size: 2.5rem
            margin-bottom: 1.5rem
        &__buttons
            width: 56rem
        &__button
            width: 17.4rem
            font-size: 1.4rem
    .vibe
        &__title-box-hover__text
            padding-left: 20px
            font-size: 1.5rem
        &__video-box
            padding-left: 20px
        &__video
            justify-content: start
        &__play-button
            display: none

@media screen and (max-width: 991px) //m//
    p
        font-size: 1.1rem
    .reviews
        &__wrapper
            margin-bottom: 1.3rem
        &__main-button
            margin-bottom: 2rem
        &__title
            margin-bottom: 1.5rem
            font-size: 1.75rem
    .roadmap
        margin-bottom: 2rem
        &__box
            top: 15%
            padding-top: 1.25rem
            padding-left: 1.5rem
            border-radius: 30px 0px 20px 0px
        &__title
            font-size: 1.5rem
        &__text
            margin-bottom: 1.2rem
    .reviews__main-button, .roadmap__main-button
        padding: 10px 20px 10px 20px
        font-size: 1.2rem
    .communication
        &__item
            top: 42%
            left: 1.15rem
        &__title
            font-size: 1.75rem
            margin-bottom: 1rem
        &__buttons
            width: 44rem
        &__button
            width: 14rem
            font-size: 1.2rem
        &__button-logo
            margin-right: 0.7rem
    .vibe
        &__title-box-hover__text
            font-size: 1.5rem

@media screen and (max-width: 767px) //m//
    .roadmap
        position: static
        border-radius: 20px 20px 0px 0px
        &__box
            position: static
            border-radius: 0px 0px 20px 20px
            max-width: 1384px
            margin-right: 0
        &__main-button
            margin-bottom: 1.5rem
    .communication
        &__item
            top: 28%
            left: 2rem
        &__buttons
            width: 5rem
            margin-bottom: 1.5rem
        &__button
            color: transparent
            background: transparent
            backdrop-filter: none
            margin-right: -4rem
    .vibe
        &__title
            min-height: 470px
        & .vibe__title__text1, .vibe__title__text2
            font-size: 4.5rem
        &__video
            width: 100%
        & video
            width: 100%

@media screen and (max-width: 575px) //до 320px//
    .communication
        &__item
            top: 2%
            left: 1rem
        &__title
            font-size: 1.5rem
            margin-bottom: 0.3rem
        &__buttons
            margin-bottom: 1rem
        &__button
            color: transparent
            background: transparent
            backdrop-filter: none
            margin-right: -6rem
    .vibe
        & .vibe__title__text1, .vibe__title__text2
            font-size: 3rem
        &__title
            min-height: 570px
