/* чтобы все марджины и паддинги входили в состав размера нашего элемента, а не прибавлялись дополнительно к его размеру */
*
    box-sizing: border-box

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-Medium.woff2")
    font-weight: 400
    font-style: normal

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-Regular.woff2")
    font-weight: 500
    font-style: normal

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-SemiBold.woff2")
    font-weight: 600
    font-style: normal

// Base Styles
body
    font-family: Arial, sans-serif
    margin: 0 auto
    min-width: 360px
    background-color: #F5F5F5

.footer
    margin-right: auto
    margin-left: auto
    width: 1360px
    max-height: 425px
    padding: 50px
    background-color: rgb(255, 255, 255)
    box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
    border-radius: 22px 22px 0px 0px
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &__items
        display: flex
        list-style: none
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 1.4rem
    &__tel
        color: #2F80ED
        font-size: 2.12rem
        padding-bottom: 4px
        font-weight: 600
    &__menu2
        padding-bottom: 20px

    ul
        display: flex
        list-style: none
        padding: 0px
a
    text-decoration: none
    color: rgba(90, 90, 90, 1)
li
    margin: 15px
