/* чтобы все марджины и паддинги входили в состав размера нашего элемента, а не прибавлялись дополнительно к его размеру */
*
    box-sizing: border-box

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-Medium.woff2")
    font-weight: 400
    font-style: normal

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-Regular.woff2")
    font-weight: 500
    font-style: normal

@font-face
    font-family: "Inter"
    src: url("../assets/fonts/inter/Inter-SemiBold.woff2")
    font-weight: 600
    font-style: normal

// Colors  
$btn: #2F80ED
$white: #FFFFFF
$txt: #757575

// Base Styles
body
    font-family: Inter, sans-serif
    /* Центрируем весь контент */
    margin: 0 auto
    min-width: 360px
    font-weight: 400
    background-color: $white

// Main container
.container
    max-width: 1384px // 1360px плюс боковые марджины от bootstrap по 12px //
    color: $txt

.header
    color: #F5F5F5
    padding: 0px

.menu
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0px

    ul
        display: flex
        list-style: none
        font-size: 1.06rem
        font-weight: 400
.menu_phone
    padding-bottom: 10px

.menu-tel
    color: #2F80ED
    font-size: 1.06rem

//Настройки для точек слайдера
.slick-dots
    position: absolute
    top: 15% // Положение точек прокрутки
    left: 2% // по горизонтали
    transform: translateX(-50%) // Центрируем
    z-index: 10 // точки сверху
    width: 50px
    height: 200px
    background: #673923

    li
        margin: 15px

        button
            &::before
                width: 30px
                height: 30px
                display: block
                color: yellow
                border: 2px solid
                border-radius: 50%

//слайдер
.slider-section
    position: relative
    max-width: 1360px
    max-height: 807px
    margin: 0 auto
    background-color: white

    .slider
        position: relative

        &__item
            position: relative

        &__wrap
            height: 807px
            position: relative

        //Первый слайд
        .slide1

            &__img
                width: 100%
                height: auto
            &__text
                position: absolute
                bottom: 140px
                left: 45px
                color: white
                z-index: 10

            &__title
                font-size: 3.125rem //50px

            &__small
                font-size: 1.125rem
                margin-top: 15px

        &__button
            padding: 27px 141px
            background-color: $btn
            color: white
            border: none
            border-radius: 10px
            cursor: pointer
            z-index: 10
            font-size: 30px
            &:hover
                transform: scale(0.95)

        .slide1-button
            position: absolute
            bottom: 26px // Положение кнопки, выходящей за пределы слайда
            right: 100px
            z-index: 10

        //Второй слайд
        .slide2
            margin-top: 26px

            &__images-block
                margin-bottom: 30px
                display: flex
                max-width: 1440px

            &__image-text
                margin-left: 30px

            .card
                background-color: #F2F2F2
                padding: 32px
                border-radius: 11px
                max-width: 286px
                display: flex
                flex-direction: column
                justify-content: center
                font-size: 1.125rem

                &__top
                    align-self: flex-start
                    margin-bottom: 18px

                &__middle
                    align-self: center
                    color: #2D9CDB
                    font-size: 3.125rem
                    font-family: "Inter", sans-serif
                    font-weight: 600
                    margin-bottom: 1.125rem
                    position: relative
                    &::after
                        content: ""
                        position: absolute
                        left: 0
                        right: 0
                        bottom: -2px
                        height: 3px
                        background: #2D9CDB
                        transform: scaleX(0)
                        transition: transform 0.3s
                    &:hover::after
                        transform: scaleX(1)

                &__bottom
                    align-self: flex-end

            .card-left
                margin-top: 25px

            .card-right
                margin-bottom: 25px

            .img-right
                margin-left: 30px

            //Адрес и кнопка
            &__down
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

            &__description
                position: relative
                padding: 0 56px
                background-color: #F2F2F2
                border: 2px
                border-radius: 10px
                text-align: center
                min-height: 179px

            &__text1
                margin-top: 25px
                font-size: 36px

            &__text2
                font-size: 36px

            &__text3
                font-size: 1.125rem
                font-weight: 400

            .down__button
                margin-top: -20px
                padding: 22px 118px
                font-size: 1.625rem //26px

//Секция о нас
.about
    max-height: 822px
    max-width: 1440px
    margin: 67px auto

    &__wrapper
        display: flex
        justify-content: center

    &__left
        max-width: 961px
        margin-right: 25px

    &__description
        padding-left: 51px
        padding-top: 48px
        padding-right: 15px
        border: 2px
        box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
        border-radius: 10px
        margin-bottom: 25px
        background-color: white
        height: 390px

    &__large
        width: 100%
        object-fit: cover

    &__title
        font-size: 3.125rem //50px
        margin-bottom: 28px

    &__p
        font-size: 1.25rem //20px
        margin-bottom: 28px
        &:last-child
            margin-bottom: 0

    &__des-image
        height: auto

    &__right
        display: flex
        flex-direction: column
        gap: 25px

    &__upImg
        height: auto

    &__downImg
        height: auto

.info
    background-color: white
    box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
    border-radius: 18px
    width: 1360px
    height: 385px
    margin-bottom: 2rem
    &__text_card
        width: 675px
        height: 283px
        padding: 10px
        margin-left: 15px
    &__title
        font-size: 3.12rem
        color: rgba(67, 67, 67, 1)
        margin-bottom: 2rem
    &__text
        font-size: 1.25rem

    &__picture
        width: 573px
        height: 385px
        padding-right: 0px

    &__wrapper
        margin-bottom: 2.7rem
    &__item
        background-color: $white
        border-radius: 0.9rem
        filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07))
        max-width: 437px
        height: auto
        padding: 1.9rem 2rem 2.4rem 2rem

    img
        width: 100%
        height: 385px
        border-radius: 18px

p
    font-size: 1.25rem
    line-height: 1.28
    font-weight: 500

h3
    font-size: 1.7rem
    line-height: 1.28
    letter-spacing: 0.02

.reviews
    &__title
        font-size: 3rem
        margin-bottom: 2.7rem
        line-height: 1.1
    &__wrapper
        margin-bottom: 2.7rem
    &__item
        background-color: $white
        border-radius: 0.9rem
        filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07))
        max-width: 437px
        height: auto
        padding: 1.9rem 2rem 2.4rem 2rem
    &__item-score
        display: flex
        background-color: #E0E0E0
        border-radius: 30px
        width: 7.8rem
        padding: 9px 21px 8px 12px
        margin-bottom: 1.6rem
        justify-content: space-between
        align-items: center
    &__item-score_value
        font-size: 1.5rem
        line-height: 1.25
        letter-spacing: 0.22
    &__item-name_data
        letter-spacing: 0.02
    &__item-button
        color: $btn
        font-size: 1.3rem
        line-height: 1.28
        letter-spacing: 0.02
        border: none
        padding-left: 0px
        margin-bottom: 2.8rem
        background-color: transparent
        transition: 0.4s ease-in

        &:hover
            text-decoration: underline
    &__item-user
        display: flex
    &__item-photo
        border-radius: 50px
        margin-right: 1.3rem
    &__main-button
        font-size: 1.7rem

.reviews__main-button, .roadmap__main-button
    border: none
    border-radius: 10px
    background-color: $btn
    color: $white
    letter-spacing: 0.02
    padding: 26px 72px 26px 72px
    margin-bottom: 5.3rem
    transition: 0.3s ease-in

    &:hover
        transform: scale(0.95)

.roadmap
    max-width: 1384px
    height: auto
    position: relative
    margin-bottom: 5.3rem
    overflow: hidden
    border-radius: 20px
    filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07))
    &__wrapper
        max-width: 1384px
        height: auto
    &__box
        position: absolute
        top: 40%
        left: 61%
        background-color: $white
        border-radius: 50px 0px 20px 0px
        padding-top: 2.75rem
        padding-left: 3.125rem
        padding-right: 1.15rem
        max-width: 33rem
        margin-right: 0.75rem
    &__title
        font-size: 2.6rem
        line-height: 1.1
        margin-bottom: 1rem
    &__text
        margin-bottom: 2.4rem
    &__main-button
        font-size: 1.6rem

iframe
    border-radius: 20px

.communication
    position: relative

.communication__box
    position: relative
    max-width: 1360px
    height: auto

.communication__item
    position: absolute
    top: 58%
    left: 4rem

.communication__title
    color: $white
    font-size: 3rem

.communication__buttons
    display: flex
    justify-content: space-between
    width: 63.7rem
    margin-bottom: 2.4rem

.communication__button
    border-radius: 50px
    border: none
    background-color: rgba(238, 238, 238, 0.32)
    color: $white
    backdrop-filter: blur(14px)
    padding-left: 0px
    width: 20.4rem
    display: flex
    align-items: center
    font-size: 1.63rem
    transition: 0.3s ease-in
    &_tg
        width: 19.6rem
    &:hover
        transform: scale(0.95)

.communication__button-logo
    margin-right: 1.8rem
    transition: 0.4s ease-in
    &:active
        transform: translate(15.15rem)

        margin-bottom: 4.5rem
        filter: drop-shadow(0px 14px 60px rgba(0, 0, 0, 0.07))
    &__box
        position: relative
        height: auto
        overflow: hidden
    &__item
        position: absolute
        top: 58%
        left: 4rem
    &__title
        color: $white
        font-size: 3rem
        line-height: 1.1
        margin-bottom: 1.9rem
    &__buttons
        display: flex
        justify-content: space-between
        width: 63.7rem
        margin-bottom: 2.4rem
    &__button
        border-radius: 50px
        border: none
        background-color: rgba(238, 238, 238, 0.32)
        color: $white
        backdrop-filter: blur(14px)
        padding-left: 0px
        width: 20.4rem
        display: flex
        align-items: center
        font-size: 1.63rem
        line-height: 1.1
        transition: 0.3s ease-in

        &_tg
            width: 19.6rem

        &:hover
            transform: scale(0.95)

    &__button-logo
        margin-right: 1.8rem
        transition: 0.4s ease-in

        &:active
            transform: translate(15.15rem)

.phone
    background-color: $btn
    border-radius: 50px
    width: 82px
    height: 82px
    display: inline-block
    padding: 23px 22px 21px 23px

.rooms
    color: rgba(67, 67, 67, 1)
    line-height: 110%
    padding-left: 0
    padding-right: 0
    &__title__text
        font-weight: 500
        font-size: 3.12rem
        margin: 0
        padding-bottom: 48px
        padding-top: 104px
    &__card
        color: rgba(85, 85, 85, 1)
        background-color: white
        box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
        font-size: 1.243rem
        font-weight: medium
        border-radius: 10px
        display: flex
        flex-direction: column
        align-items: flex-start
    &__about
        padding-left: 21px
        padding-top: 22px
        max-width: 86%
    &__price-box
        display: flex
        align-items: baseline
        padding-bottom: 39px
        padding-top: 37px
    &__price
        color: rgba(45, 156, 219, 1)
        font-weight: 600
        font-size: 2.3125rem
        padding-right: 7px
    &__time
        color: rgba(152, 152, 152, 1)
        font-weight: 500
        font-size: 1.125rem

.rest
    color: #434343
    line-height: 110%
    padding-bottom: 92px
    margin-bottom: 0
    padding-left: 0
    padding-right: 0
    &__title__text
        font-weight: 500
        font-size: 3.12rem
        margin: 0
        padding-bottom: 48px
        padding-top: 90px
    &__img-box
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        grid-template-rows: 352px 352px
        gap: 22px
        padding-right: 0
        margin-right: 0
    &__img-box__img-filter
        color: $white
        opacity: 0
        line-height: 110%
        text-align: center
        font-size: 2.75rem
        font-weight: 500
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        border-radius: 12px
        &:hover
            opacity: 1
            background-color: rgba(0, 0, 0, 0.7)

.filter-box-img1
    position: relative
    grid-row: 1 / 3
    grid-column: 1 / 2
    background-image: url("/assets/img/rest_img1.png")
    background-size: cover
    border-radius: 12px

.filter-box-img2
    position: relative
    background-image: url("/assets/img/rest_img2.png")
    background-size: cover
    border-radius: 12px

.filter-box-img3
    position: relative
    background-image: url("/assets/img/rest_img3.png")
    background-size: cover
    border-radius: 12px

.filter-box-img4
    position: relative
    grid-row: 2 / 3
    grid-column: 2 / 4
    background-image: url("/assets/img/rest_img4.png")
    background-size: cover
    border-radius: 12px

.img-filter-text
    max-width: 340px

video
    border-radius: 17px
    float: right
    width: 100%

.vibe__video-box
    padding-left: 4.41%
    padding-right: 0
    margin: 0

.play-button
    width: 36px
    height: 36px

.vibe
    padding-right: 0
    &__video
        position: relative
        padding-right: 0
        margin: 0
        height: 470px
        display: flex
        justify-content: end
    &__play-button
        position: absolute
        top: 33.404%
        right: calc((100% - 156px)/2)
        background-color: rgba(102, 90, 93, 0.3)
        backdrop-filter: blur(5px)
        border: none
        border-radius: 78px
        width: 156px
        height: 156px
    &__title-box-hover
        opacity: 0
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        padding-top: 250px
        max-width: 669px
    &__title-box-hover__text
        font-size: 1.25rem
        font-weight: 500
        color: #757575
        line-height: 125%
    &__title__text1
        font-size: 3.9rem
        font-weight: 500
        color: #434343
        line-height: 110%
    &__title__text2
        font-size: 5.69rem
        font-weight: 500
        color: #2F80ED
        line-height: 110%
    &__title
        display: flex
        justify-content: start
        align-items: flex-start
        padding-left: 21px
        position: relative
        min-height: 470px
        padding-top: 142px

.vibe-wrapper
    padding-bottom: 92px
    margin-right: 0
    &:hover
        padding-bottom: 36px
        .vibe__title
            align-items: flex-start
            padding-top: 69px
            padding-left: 0
        .vibe__title__text1, .vibe__title__text2
            font-size: 3.125rem
            transition: 0.2s ease-in
        .vibe__title-box-hover
            opacity: 1
            transition: 0.3s ease-in
            padding-top: 209px
        video
            max-width: 669px
            margin-top: 34px
            transition: 0.3s ease-in
        .vibe__play-button
            margin-top: 34px
            right: calc((669px - 156px)/2)

.footer
    margin-right: auto
    margin-left: auto
    width: 1360px
    max-height: 425px
    padding: 50px
    background-color: rgb(255, 255, 255)
    box-shadow: 0px 20px 40px 10px rgb(237, 237, 237)
    border-radius: 22px 22px 0px 0px
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &__items
        display: flex
        list-style: none
    &__menu
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 1.4rem
    &__tel
        color: #2F80ED
        font-size: 2.12rem
        padding-bottom: 4px
        font-weight: 600
    &__menu2
        padding-bottom: 20px

    ul
        display: flex
        list-style: none
        padding: 0px
a
    text-decoration: none
    color: rgba(90, 90, 90, 1)
li
    margin: 15px

// Медиазапросы: от большего к меньшему, базовый вариант 1440-1920px, далее в соответствии с сеткой bootstrap //

@media screen and (max-width: 1439px)   // xl- у меня без изменений, но есть доп размер - до 1260px //

@media screen and (max-width: 1260px)   // доп медиа-запрос //
    .roadmap
        &__main-button
            font-size: 1.4rem
    .reviews
        &__main-button
            font-size: 1.5rem
    .vibe-wrapper:hover
        .vibe__play-button
            right: calc((100% - 156px)/2)

@media screen and (max-width: 1199px)   // l //
    .reviews
        &__title
            font-size: 2.5rem
    .roadmap
        &__box
            top: 35%
            padding-top: 1.5rem
            padding-left: 2rem
            padding-right: 1rem
        &__title
            font-size: 2rem
            margin-bottom: 1rem
        &__text
            margin-bottom: 1.5rem
    .reviews__main-button, .roadmap__main-button
        padding: 13px 36px 13px 36px
    .communication
        &__item
            top: 48%
            left: 2rem
        &__title
            font-size: 2.5rem
            margin-bottom: 1.5rem
        &__buttons
            width: 56rem
        &__button
            width: 17.4rem
            font-size: 1.4rem
        &__button-logo:active
            transform: none
    .vibe
        &__title-box-hover__text
            padding-left: 20px
            font-size: 1.5rem
        &__video-box
            padding-left: 20px
        &__video
            justify-content: start
    .vibe-wrapper:hover
        .vibe__play-button
            right: calc((100% - 669px) + (669px - 156px)/2)
    .rooms__card
        margin-bottom: 25px

@media screen and (max-width: 991px)   // m //
    p
        font-size: 1.1rem
    .reviews
        &__wrapper
            margin-bottom: 1.3rem
        &__main-button
            margin-bottom: 2rem
        &__title
            margin-bottom: 1.5rem
            font-size: 1.75rem
    .roadmap
        margin-bottom: 2rem
        &__box
            top: 15%
            padding-top: 1.25rem
            padding-left: 1.5rem
            border-radius: 30px 0px 20px 0px
        &__title
            font-size: 1.5rem
        &__text
            margin-bottom: 1.2rem
    .reviews__main-button, .roadmap__main-button
        padding: 10px 20px 10px 20px
        font-size: 1.2rem
    .communication
        &__item
            top: 42%
            left: 1.15rem
        &__title
            font-size: 1.75rem
            margin-bottom: 1rem
        &__buttons
            width: 44rem
        &__button
            width: 14rem
            font-size: 1.2rem
        &__button-logo
            margin-right: 0.7rem
    .vibe
        &__title-box-hover__text
            font-size: 1.5rem
    .rest
        &__img-box
            grid-template-columns: 1fr
            grid-template-rows: 1fr 1fr 352px 352px 352px
            gap: 18px
    .filter-box-img1
        grid-row: 1 / 3
        grid-column: 1 / 2
        width: 434px
        height: 726px
    .filter-box-img2
        grid-row: 3 / 4
        grid-column: 1 / 2
        width: 441px
        height: 352px
    .filter-box-img3
        grid-row: 4 / 5
        grid-column: 1 / 2
        width: 441px
        height: 352px
    .filter-box-img4
        grid-row: 5 / 6
        grid-column: 1 / 2
        height: 352px

@media screen and (max-width: 767px)   // sm //
    .roadmap
        position: static
        border-radius: 20px 20px 0px 0px
        &__box
            position: static
            border-radius: 0px 0px 20px 20px
            max-width: 1384px
            margin-right: 0
        &__main-button
            margin-bottom: 1.5rem
    .communication
        &__item
            top: 28%
            left: 2rem
        &__buttons
            width: 5rem
            margin-bottom: 1.5rem
        &__button
            color: transparent
            background: transparent
            backdrop-filter: none
            margin-right: -4rem
    .vibe
        &__title
            min-height: 470px
        &__title__text1
            font-size: 4.3rem
        &__title__text2
            font-size: 5.8rem
        &__video
            width: 100%
    video
        width: 100%
    .vibe-wrapper:hover
        .vibe__play-button
            display: none

@media screen and (max-width: 575px)   // до 320px //
    .communication
        &__item
            top: 2%
            left: 1rem
        &__title
            font-size: 1.5rem
            margin-bottom: 0.3rem
        &__buttons
            margin-bottom: 1rem
        &__button
            margin-right: -6rem
    .vibe
        &__title__text1
            font-size: 2rem
        &__title__text2
            font-size: 3.5rem
        &__title
            min-height: 570px
    .rest
        &__title__text
            font-size: 2.8rem
        &__img-box
            grid-template-rows: repeat(5, 1fr)
    .filter-box-img1, .filter-box-img2, .filter-box-img3
        width: 100%
    .rooms
        &__text
            font-size: 1.8rem
        &__time
            font-size: 1.6rem
        &__price
            font-size: 2.7rem
